@import "../../../App.css";
.SlidingContainer h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.SlidingContainer p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.SlidingContainer span {
  font-size: 12px;
}

.SlidingContainer a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.SlidingContainer {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  font-size: 1.5rem;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.SlidingContainer button {
  border-radius: 20px;
  /* border: 1px solid #ff4b2b;
  background: #ff445c; */
  border: 1px solid linear-gradient(to right, #481ba0, #221873);
  background: linear-gradient(to right, #481ba0, #221873) no-repeat 0 0 / cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.SlidingContainer button:active {
  transform: scale(0.95);
}

.SlidingContainer button:focus {
  outline: none;
}

.SlidingContainer button.ghost {
  background: transparent;
  border: 1px solid #fff;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container,
.forget-pass-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.forget-pass-container-visible {
  transition: transform 0.6s ease-in-out;
  transform: translateY(0);
}
.forget-pass-container-notVisible {
  transition: transform 0.6s ease-in-out;
  transform: translateY(100%);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  /* background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover; */
  background: var(--sidebar);
  background: linear-gradient(to right, #481ba0, #221873) no-repeat 0 0 / cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateY(0);
}

.overlay-left {
  transform: translateY(-20%);
}

/* Move signin to right */
.SlidingContainer.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

/* Move overlay to left */
.SlidingContainer.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.SlidingContainer.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.SlidingContainer.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.SlidingContainer.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.SlidingContainer.right-panel-active .overlay-right {
  transform: translateY(20%);
}

.footer {
  margin-top: 25px;
  text-align: center;
}

.icons {
  display: flex;
  width: 30px;
  height: 30px;
  letter-spacing: 15px;
  align-items: center;
}

@media (max-width: 900px) {
  .SlidingContainer h1 {
    margin-left: 1rem;
  }
  .SlidingContainer {
    min-height: 580px;
    width: 80ch;
    height: 85vh;
    margin-top: 20vh;
  }

  .form-container {
    position: absolute;
    /* top: 0; */
    height: 50%;
    transition: all 0.6s ease-in-out;
  }
  .form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  font-size: 1.3rem;
}

  .sign-in-container,
  .forget-pass-container {
    top: 0;
    left: 10%;
    width: 80%;
  }

  .sign-up-container {
    top: 50%;
    left: 10%;
    width: 80%;
  }

  .forget-pass-container-visible {
    transition: transform 0.6s ease-in-out;
    transform: translateX(0);
  }
  .forget-pass-container-notVisible {
    transition: transform 0.6s ease-in-out;
    transform: translateX(200%);
  }

  .overlay-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 50%;
    text-align: center;
    justify-content: start;
    padding: 8rem;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .overlay-left {
    transform: translateX(-20%);
  }
  /* Move signin to right */
  .SlidingContainer.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  /* Move overlay to left */
  .SlidingContainer.right-panel-active .overlay-container {
    transform: translateY(-100%);
  }

  /* Bring signup over signin */
  .SlidingContainer.right-panel-active .sign-up-container {
    transform: translateY(0);
    opacity: 1;
    z-index: 5;
  }

  /* Move overlay back to right */
  .SlidingContainer.right-panel-active .overlay {
    transform: translateY(50%);
    /* transform: translateX(-50%); */
  }

  /* Bring back the text to center */
  .SlidingContainer.right-panel-active .overlay-left {
    transform: translateX(100%);
  }

  /* Same effect for right */
  .SlidingContainer.right-panel-active .overlay-right {
    transform: translateX(100%);
  }
}
